@charset "UTF-8";

@import '../../_reset';

/* ==========================================================
  style
========================================================== */
pre {
  font-family: 'ヒラギノ角ゴシック W0', '游ゴシック', 'メイリオ';
  font-size: 2rem;
  font-weight: normal;
  padding: 1em;
}
